<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Quality Prediction</title>
</head>
<body>
    <h1>Air Quality Prediction</h1>
    <form action="/predict" method="post">
        PM10: <input type="text" name="pm10" required><br><br>
        SO2: <input type="text" name="so2" required><br><br>
        CO: <input type="text" name="co" required><br><br>
        O3: <input type="text" name="o3" required><br><br>
        NO2: <input type="text" name="no2" required><br><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>
